table{
	width: 100%;
	border:8px solid lightblue;
	border-collapse: collapse;
}
td{
	padding: 10px;
	border:2px solid lightblue;
	border-collapse: collapse;
}
th{
	background-color: lightblue;
	border:2px solid white;
	border-collapse: collapse;
	padding: 10px;
}

#logo{
	font-size: 1.5em;
	margin:10px;
}
#ced{
	color: white;
	background-color: rgb(23, 19, 15);
}
#user{
	    margin-left: 430px;
}
.diff{
	font-size: 1.5em;
	background-color: chartreuse;
}
.btn{
	margin-top: 10px;
	background-color: deepskyblue;
	border-radius: 20px;
	border:1px solid black;
	opacity: 0.8;
}
.tiles{
	font-size: 40px;
	color:honeydew;
	width: 400px;
	height: 200px;
	margin: 20px;
	margin-left: 30px;
	float: left;
	background: rgb(9,121,120);
	background: linear-gradient(90deg, rgba(9,121,120,1) 35%, rgba(0,211,255,0.8407738095238095) 100%);
}
.tile{
	font-size: 40px;
	color: honeydew;
	width: 400px;
	height: 200px;
	margin: 20px;
	margin-left: 30px;
	float: left;
	background: rgb(9,121,120);
	background: linear-gradient(90deg, rgba(9,121,120,1) 35%, rgba(0,211,255,0.8407738095238095) 100%);
}
.til{
	font-size: 40px;
	color: honeydew;
	width: 400px;
	height: 200px;
	margin: 20px;
	margin-left: 30px;
	float: left;
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.usertile{
	font-size: 40px;
	color: honeydew;
	width: 400px;
	height: 200px;
	margin: 20px;
	margin-left: 30px;
	float: left;
	background: rgb(37,34,34);
    background: linear-gradient(90deg, rgba(37,34,34,1) 30%, rgba(37,219,217,1) 100%);
}
.usertil{
	font-size: 40px;
	color: honeydew;
	width: 400px;
	height: 200px;
	margin: 20px;
	margin-left: 30px;
	float: left;
	background: rgb(9,121,120);
    background: linear-gradient(90deg, rgba(9,121,120,1) 35%, rgba(0,211,255,0.44021358543417366) 100%);
}
.dropbtn{
	background-color: transparent;
	border:none;
}
ul{
	list-style-type:circle;
	text-decoration: none;
	display: block;
}
a{
	text-decoration: none;
}
li:hover{
	background-color: lightblue;
}
i{
	font-size: 40px;
	padding: 10px;
}

#colh{
	color:chartreuse;
}